src/main/app/sys-sfdc/integrationMetadata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="lookupIntegrationMetadata" processingStrategy="synchronous">
        <logger message="#[payload]" level="DEBUG" category="com.merrillcorp.logging" doc:name="Log Payload"/>

        <sfdc:query-single config-ref="Salesforce__Basic_Authentication" query="${integration.metadata.sfdc.query} WHERE DatasiteOne_Project__c = '#[payload['projectId']]'" doc:name="Salesforce"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Flow=lookupIntegrationMetadata ExceptionMessage=#[exception.getSummaryMessage()]" level="ERROR" category="com.merrillcorp.logging" doc:name="Log Exception"/>
            <set-payload value="#[]" doc:name="Set Exception Response Payload"/>
        </catch-exception-strategy>
    </flow>
</mule>
